@import "normalize";
@import "variables";
@import "mixins";
@import "general";
@import "header";

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 500px) {
    div.intro-content {
      width: 90%;

      .intro-img {
        display: none;
      }

      .intro-text {
        width: 100%;
        li {
          display: none;
        }
        p {
          display: block;
        }
      }
    }
  }

  .intro-content {
    .flexSpaceAround();
    align-items: center;
    width: 65%;
    padding: 1.5% 1.5%;
    .bordered();

    .intro-img {
      img {
        width: 70%;
        // height: auto;
        border-radius: 4vw;
      }
    }
    .intro-text {
      .flexSpaceAround();
      flex-direction: column;
      align-items: center;
      padding: 1.5% 1.5%;
      width: 50%;

      li {
        margin: 5% 0;
      }
      p {
        display: none;
      }
    }
  }
  a {
    text-decoration: none;
    border: 0.1rem solid @lightColor;
    border-radius: 4vw;
    padding: 1rem 3rem;
  }
}

.skills {
  text-align: center;
  .flexSpaceAround();
  flex-wrap: wrap;
  align-content: space-around;
  margin: 1.5% 1.5%;

  @media (max-width: 500px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div.item {
      width: 90%;
      margin: 2% 1%;

      i {
        display: none;
      }

      .skills-text {
        width: 100%;
      }
    }
  }
  h1 {
    width: 100%;
  }

  .item {
    .flexSpaceAround();
    align-items: center;
    .bordered();
    margin: 1.5% 1.5%;
    padding: 1.5% 1.5%;
    width: 40%;

    i {
      color: @tealColor;
    }
    .skills-text {
      width: 50%;
    }
  }
}

.work {
  text-align: center;
  margin: 1.5% 0;
  .row {
    .flexSpaceAround();

    &:nth-of-type(2n) {
      background-color: @darkerColor;
    }

    p {
      width: 25%;
    }
  }
}

/*===================== Portfolio.html =====================*/

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 1.5% 1.5%;

  @media (max-width: 500px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div.item {
      width: 90%;
    }
  }

  h1 {
    width: 100%;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .bordered();
    margin: 1.5% 1.5%;
    padding: 1.5% 1.5%;
    width: 40%;

    a {
      text-decoration: none;
      border: 0.1rem solid @lightColor;
      border-radius: 4vw;
      padding: 1rem 3rem;
      margin: 0.5rem 0;
    }
  }
}

@import "footer";
